#menuItemHeader{
    background-color: yellow;
    font-size: 15px;
}
body
{
  background-repeat: no-repeat;
  background-position: 02% 10%;
  background-attachment: fixed; 
  font-style:vedana,Arial,Arial black;
  font-size: 15px;
  font-weight: bolder;
  color: red;
  line-height: 1.5em;
}
h1
{
  text-decoration: underline;
  color: purple;
} 
td
{
  border: 1px solid green;
  border-right: none;
  border-bottom: none;
}
td:nth-last-child(1){
  border-right:1px solid green;
  border-bottom: 1px solid green;
}
 th
{
  border: 1px solid green;
  border-right: none;
  border-bottom: none;
}
th:nth-last-child(1){
  border-right:1px solid green;
}
table{
  border-bottom: 1px solid green;
}
